.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.slideout-nav.expanded {
  width: 300px;
  background-color: rgb(58,58,58);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}

.slideout-nav.collapsed {
  width: 10%;
  max-width: 40px;
  background-color: rgb(58,58,58);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}

.slideout-nav.expanded .btn {
  width: 90%;
  max-width: 260px;
  height: 55px;
  border: none;
  background-color: rgb(58,58,58);
  color: #61dafb;
  text-transform: uppercase;
  font-size: 20px;
  text-align: left;
  border-bottom: 2px rgb(120,120,120) solid;
}

.slideout-nav.collapsed .btn.action {
  display: none;
}

.slideout-nav .collapsed.btn {
  height: 100%;
  width: 10%;
  min-width: 40px;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 2px rgb(120,120,120) solid;
  background-color: rgb(58,58,58);
}

.slideout-nav .expanded.btn {
  height: 100%;
  width: 10%;
  min-width: 40px;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 2px rgb(120,120,120) solid;
}
.slideout-nav .expanded.btn img {
  transform: rotate(180deg);
}

.slideout-nav .btn:hover {
  background-color: rgb(120,120,120) ;
}

.recipe-form {
  margin: 0 0 0 300px;
  padding: 0 0 0 50px;
}

.recipe-input {
  text-align: left;
}

.recipe-input label {
  display: block;
  color: rgb(120,120,120);
  font-size: 12px;
  margin: 10px 0 0 0;
}

.recipe-input input {
  border-radius: 5px;
  width: 50%;
  border-color: lightgrey;
  border-width: 1px;
  font-size: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
